{
    "tabWidth": 2,
    "useTabs": false,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "semi": true,
    "printWidth": 100,
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}
