.li-unstyled {
  padding-left: 0;
  list-style: none;
}

.li-inline {
  padding-left: 0;
  list-style: none;
}

.li-inline-item {
  display: inline-block;
}

.li-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
